{% extends 'base.html' %}  
{% load static %}  <!-- Load static files -->
{% block title %}{{ assessment.assessment_title }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error</h4>
            <p>{{ error }}</p>
            <hr>
            <p class="mb-0">
                <a href="{% url 'main:home' %}" class="btn btn-primary">Return to Home</a>
                <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
            </p>
        </div>
    </div>
{% endblock %}
