{% extends "base.html" %}
{% load static %}
{% block title %}Quiz{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>


<div class="container mt-4">
<h1 class="mb-4">Quiz</h1>
    
    <div class="d-flex justify-content-between align-items-center mb-4">
        <!-- Form chọn Subject -->
        <form method="GET" action="{% url 'quiz:quiz_list' %}" class="mr-2">
            <div class="form-group">
                <label for="subjectSelect">Select Subject:</label>
                <select class="form-control" id="subjectSelect" name="subject" onchange="this.form.submit()">
                    <option value="">All Subjects</option>
                    {% for subject in subjects %}
                        <option value="{{ subject.id }}" {% if subject.id|stringformat:"s" == selected_subject %}selected{% endif %}>
                            {{ subject.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </form>

        <div class="text-center d-flex align-items-center">
            <a href="{% url 'quiz:quiz_add' %}" class="btn btn-blue-green mr-2" title="Add New Quiz">
                <i class="fas fa-plus"></i> Add
            </a>            
            
            <a href="#" class="btn btn-primary mr-2" data-toggle="modal" data-target="#importModal">
                <i class="fas fa-file-import"></i> Import
            </a>

            <div class="dropdown d-inline mr-2">
                <button class="btn btn-blue dropdown-toggle" type="button" id="exportDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-file-export"></i> Export
                </button>
                <div class="dropdown-menu" aria-labelledby="exportDropdown">
                    <a class="dropdown-item" href="{% url 'quiz:export_quizzes' format='excel' %}">
                        <i class="fas fa-file-excel"></i> Export to Excel
                    </a>
                    <a class="dropdown-item" href="{% url 'quiz:export_quizzes' format='json' %}">
                        <i class="fas fa-file-code"></i> Export to JSON
                    </a>
                </div>
            </div>
        </div>
        
        <!-- Search bar -->
        <div class="form-inline">
            <input type="text" class="form-control" placeholder="Search Quizzes..." id="searchInput" onkeyup="searchQuizzes()">
        </div>
    </div>

    <div class="col-md-10">
        
        <div class="row" id="quizCards">
            {% for quiz in quizzes %}
            <div class="col-md-6 mb-8 quiz-card">
                <div class="card h-100 d-flex flex-row">
                    <!-- Image section (Optional) -->
                    <div class="card-body w-70">
                        <h5 class="card-title">
                            <span class="description">{{ quiz.quiz_title }}</span>
                            <span class="small-description">{{ quiz.quiz_description }}</span>
                        </h5>  
                        <p class="card-text"><strong>Course:</strong> {{ quiz.course }}</p>                 
                        <p class="card-text"><strong>Total Marks:</strong> {{ quiz.total_marks }}</p>
                        <p class="card-text"><strong>Time Limit:</strong> {{ quiz.time_limit }} minutes</p>
                        <p class="card-text"><strong>Available Quiz:</strong></p>
                        <p class="card-text"><span style="margin-left: 20px;"></span>From:</strong> {{ quiz.start_datetime|date:"d M Y H:i" }}</p>
                        <p class="card-text"><span style="margin-left: 20px;"></span>Until:</strong> {{ quiz.end_datetime|date:"d M Y H:i" }}</p>
                        <p class="card-text"><strong>Attempts Allowed:</strong> {{ quiz.attempts_allowed }}</p>   
                    </div>
                    <div class="card-footer w-30 d-flex flex-column justify-content-between">
                        <!-- Take Quiz -->
                        <div class="mb-2">
                            <a href="{% url 'quiz:take_quiz' quiz.id %}" class="btn btn-blue btn-sm" title="Preview quiz">
                                <i class="fas fa-play"></i>Preview
                            </a>
                        </div>
                
                        <div class="mb-2"> <!-- Khoảng cách cho nút Result -->
                            {% if quiz.studentquizattempt_set.count > 0 %}
                                {% with last_attempt=quiz.studentquizattempt_set.last %}
                                    <a href="{% url 'quiz:quiz_result' quiz.id last_attempt.id %}" class="btn btn-blue-green btn-sm">
                                        <i class="fas fa-chart-line"></i> Result
                                    </a>
                                {% endwith %}
                            {% else %}
                                <span class="text-muted">No Attempts</span>
                            {% endif %}
                        </div>
                                            
                        <div class="mb-2 dropdown">
                            <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="moreOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </button>
                            <div class="dropdown-menu" aria-labelledby="moreOptions">
                                <a class="dropdown-item" href="{% url 'quiz:quiz_detail' quiz.id %}"  title="Add new questions">
                                    <i class="fas fa-plus"></i> Add
                                </a>
                                <a class="dropdown-item" href="{% url 'quiz:quiz_edit' quiz.id %}">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                                <form method="POST" action="{% url 'quiz:quiz_delete' quiz.id %}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item" onclick="return confirm('Are you sure you want to delete this quiz?');">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                                </form>
                                <a class="dropdown-item" href="{% url 'quiz:import_questions' quiz.id %}" title="Import question file">
                                    <i class="fas fa-file-import"></i> Import
                                </a>
                                <a class="dropdown-item" href="{% url 'quiz:export_questions' quiz.id %}" title="Export question file">
                                    <i class="fas fa-file-export"></i> Export
                                </a>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <p>No quizzes available.</p>
            </div>
            {% endfor %}
        </div>
        
    </div>
    
</div>

<!-- Import Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLabel">Import Quizzes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Import Form -->
                <form method="post" enctype="multipart/form-data" action="{% url 'quiz:import_quizzes' %}" id="importForm">
                    {% csrf_token %}
                    
                    <!-- Download static file template -->
                    <div class="mb-4">
                        <span>
                            Please download and use the <a href="{% static 'excel/import_quiz.csv' %}" target="_blank">Excel template</a> for the required format.
                        </span>
                    </div>

                    <div class="mb-4">
                        <span>
                            Please download and use the <a href="{% static 'excel/import_questions.xlsx' %}" target="_blank">Excel template for questions</a> for the required format.
                        </span>
                    </div>

                    <!-- Upload file from computer -->
                    <div class="form-group">
                        <label for="fileUpload">Upload Excel/csv/json File:</label>
                        <input type="file" class="form-control-file" id="fileUpload" name="file" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<script>
function searchQuizzes() {
    var input, filter, cards, card, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    cards = document.getElementsByClassName("quiz-card");

    for (i = 0; i < cards.length; i++) {
        card = cards[i];
        txtValue = card.textContent || card.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            card.style.display = "";
        } else {
            card.style.display = "none";
        }
    }
}


$(document).ready(function() {
    $('.dropdown-toggle').click(function(event) {
        event.stopPropagation(); // Ngăn chặn sự kiện click lan truyền
        // Ẩn tất cả các dropdown khác
        $('.dropdown-menu').not($(this).next('.dropdown-menu')).hide();
        // Bật tắt dropdown hiện tại
        $(this).next('.dropdown-menu').toggle();
    });

    // Ẩn dropdown khi nhấp ra ngoài
    $(document).click(function() {
        $('.dropdown-menu').hide();
    });
});


</script>
{% endblock %}