{% extends 'base.html' %}

{% block title %}
    Manage Group: {{ group.group_name }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Manage Group: {{ group.group_name }}</h1>

        <h2>Members</h2>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Username</th>
                    <th>Joined On</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>{{ member.user.username }}</td>
                        <td>{{ member.joined_at }}</td>
                        <td>
                            <a href="{% url 'collaboration_group:remove_member' group.id member.member_id %}" class="btn btn-danger btn-sm">Remove</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No members in this group yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Add Member</h2>
        <form method="post" class="form-inline">
            {% csrf_token %}
            <div class="form-group mb-2">
                <select name="user_id" class="form-control">
                    {% for user in all_users %}
                        <option value="{{ user.id }}">{{ user.full_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2 ml-2">Add Member</button>
        </form>

        <a href="{% url 'collaboration_group:collaboration_group_list' %}" class="btn btn-secondary mt-4">Back to Group List</a>
    </div>
{% endblock %}
