<!-- activity/templates/activity.html -->
{% extends "base.html" %}

{% block title %}Certificate{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Certificate List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Course</th>
                <th>Completion date</th>
                <th>Certificate Url</th>
            </tr>
        </thead>
        <tbody>
            {% for certificate in certificates %}
                <tr>
                    <td>{{ certificate.user }}</td>
                    <td>{{ certificate.course }}</td>
                    <td>{{ certificate.issue_date }}</td>
                    <td>{{ certificate.certificate_url }}</td>
                    <td><a href="{% url 'certificate:certificate_pdf' certificate.id %}">  
                        <h3>{{ certificate.course }}</h3></td>
                    </a>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}