{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <div class="container mt-5">
        <h1 class="text-center">LMS Dashboard</h1>
        
        <!-- Navigation Tabs -->
        <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
            
            <li class="nav-item">
                <a class="nav-link active" id="modules-tab" data-toggle="tab" href="#modules" role="tab" aria-controls="modules" aria-selected="false">Modules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="course-overview-tab" data-toggle="tab" href="#course-overview" role="tab" aria-controls="course-overview" aria-selected="true">Course Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="learning-resources-tab" data-toggle="tab" href="#learning-resources" role="tab" aria-controls="learning-resources" aria-selected="false">Learning Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="engagement-statistics-tab" data-toggle="tab" href="#engagement-statistics" role="tab" aria-controls="engagement-statistics" aria-selected="false">User Engagement Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="support-feedback-tab" data-toggle="tab" href="#support-feedback" role="tab" aria-controls="support-feedback" aria-selected="false">Support and Feedback</a>
            </li>
        </ul>
        
        <!-- Tab Content -->
        <div class="tab-content mt-3">
            

            <!-- Modules Tab -->
            <div class="tab-pane show active " id="modules" role="tabpanel" aria-labelledby="modules-tab">
                {% include 'tabs/modules.html' %}
            </div>

            <!-- Course Overview Tab -->
            <div class="tab-pane fade " id="course-overview" role="tabpanel" aria-labelledby="course-overview-tab">
                {% include 'tabs/course-overview.html' %}
            </div>

            <!-- Learning Resources Tab -->
            <div class="tab-pane fade" id="learning-resources" role="tabpanel" aria-labelledby="learning-resources-tab">
                {% include 'tabs/learning-resources.html' %}
            </div>

            <!-- User Engagement Statistics Tab -->
            <div class="tab-pane fade" id="engagement-statistics" role="tabpanel" aria-labelledby="engagement-statistics-tab">
                {% include 'tabs/engagement-statistics.html' %}
            </div>

            <!-- Support and Feedback Tab -->
            <div class="tab-pane fade" id="support-feedback" role="tabpanel" aria-labelledby="support-feedback-tab">
                {% include 'tabs/support-feedback.html' %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
